# Common ignores for Rails (backend)
server/log/*
server/tmp/*
server/.bundle
server/db/*.sqlite3
server/db/*.sqlite3-journal
server/storage/*
server/public/assets
server/node_modules/
server/yarn-error.log

# Common ignores for React (client)
client/node_modules/
client/build/
client/.env

# System-specific files
.DS_Store
